POSTGRES_DB_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

KAFKA_PORT=
KAFKA_UI_PORT=
ZOOKEEPER_PORT=

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=

SPRING_PROFILES_ACTIVE=