POSTGRES_DB_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

REDIS_URL=
REDIS_PORT=

KAFKA_BOOTSTRAP_SERVERS=
KAFKA_UI_PORT=

SPRING_PROFILES_ACTIVE=

OPENAI_API_KEY=

NAVER_MAP_CLIENT_ID=
NAVER_MAP_CLIENT_SECRET=
